/* Global */
.site-layout .site-layout-background {
    background: #FFF;
}

/* Containers & Wrappers */
.content_wrapper {
    margin: auto;
    max-width: 90%;
    width: 100%;
}

/* Header */
.site_header {
    background: #FFF;
    text-align: center;
}

/* Content */
.blockchain_form,
.blockchain_table {
    width:100%;
    margin: 2rem auto;
    max-width: 90%;
}

/* Form */


/* Table */


/* Footer */
.site_footer {
    background: #FFF;
    text-align: center;
}

/* Media Queries */
@media all and (min-width: 768px){
    .blockchain_form,
    .blockchain_table {
        max-width: 85%;
    }
}

@media all and (min-width: 992px){
    .blockchain_form,
    .blockchain_table {
        max-width: 75%;
    }
}

@media all and (min-width: 1200px){
    .blockchain_form,
    .blockchain_table {
        max-width: 70%;
    }
}
